 @model Web_WineShop.Models.ProfileModel.BankAccountModel;

<h3 class="font-weight-bold h3-color text-center">BANK ACCOUNTS</h3>
<div class="mt-4">
	<!-- List Bank -->
	<div id="bank-list" class="mb-4">
		@if (Model.BankAccounts != null && Model.BankAccounts.Any())
		{
			foreach (var bank in Model.BankAccounts)
			{
				<div class="d-flex justify-content-between align-items-center border p-3 mb-2">
					<div>
						<p><strong>Bank:</strong> @bank.getBankName()</p>
						<p><strong>Account Number:</strong> @bank.AccountNo</p>
						<p class="text-muted">
							@if (Model.IsDefaultBank(bank))
							{
								<span class="badge bg-success">Default</span>
							}
						</p>
					</div>
					<div>
						@if (!Model.IsDefaultBank(bank))
						{
							<form method="post" asp-action="SetDefaultBank" asp-controller="Profile">
								<input type="hidden" name="bankId" value="@bank.Id" />
								<button type="submit" class="btn btn-primary btn-sm">Set Default</button>
							</form>
						}
					</div>
				</div>
			}
		}
		else
		{
			<p>No bank accounts available. Add a new one below.</p>
		}
	</div>
	<!-- bank form -->
	<form id="add-bank-form">
		<div class="form-group mb-3">
			<label for="bank-name">Bank Name:</label>
			<select class="form-control" id="bank-name" name="BankName" required>
			</select>
		</div>
		<div class="form-group mb-3">
			<label for="account-number">Account Number:</label>
			<input type="text" class="form-control" id="account-number" name="AccountNumber" placeholder="Enter your account number" required />
		</div>
		<div class="text-center">
			<button type="submit" class="btn btn-dark w-100 mt-3">Add Bank Account</button>
		</div>
	</form>
</div>
<script src="~/js/bank.js"></script>