<div id="change-password" class="detail-form d-none">
	<div class="row">
		<div class="col-8">
			<h3 class="font-weight-bold h3-color text-center">UPDATE MY PASSWORD</h3>
			<form id="change-password-form">
				<!-- Current Password -->
				<div class="form-group mt-5">
					<label for="password">Current password:</label>
					<input type="password" id="password" class="form-control" name="password"
						   placeholder="Enter your current password" required>
				</div>
				<!-- New Password -->
				<div class="form-group my-3">
					<label for="new-password">New password:</label>
					<input type="password" id="new-password" class="form-control" name="newPassword"
						   placeholder="Enter your new password" required>
				</div>
				<!-- Confirm Password -->
				<div class="form-group">
					<label for="confirm-password">Confirm password:</label>
					<input type="password" id="confirm-password" class="form-control"
						   placeholder="Confirm your new password" required>
					<small id="confirm-password-error" class="text-danger"></small>
				</div>

				<!-- Save Change Button -->
				<button type="submit" class="btn btn-dark w-100 mt-3" id="change-pass-btn">Save Changes</button>
			</form>
		</div>
	</div>
</div>
