
.container {
    margin-top: 20px;
}

.accordion-button {
    background-color: white;
    color: black;
    border: none;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease;
}

    .accordion-button:not(.collapsed) {
        background-color: white;
        border-bottom: 3px solid #be9650;
    }

    .accordion-button:focus {
        box-shadow: none;
    }

.product-card {
    max-width: 250px;
    overflow: hidden;
    border: 1px solid transparent;
    transition: all 0.2s ease;
    position: relative;
}

    .product-card:hover {
        border: 1px solid #be9650;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .product-card img {
        width: 100%;
        height: auto;
    }

    .product-card .card-body {
        text-align: center;
        position: relative;
        padding-bottom: 50px;
    }

    .product-card .price {
        font-weight: bold;
        color: #be9650;
    }

    /*Ẩn nút ban đầu*/
    .product-card .hover-buttons {
        display: none;
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }

        .product-card .hover-buttons button {
            margin: 0 5px;
            padding: 5px 10px;
            border: 1px solid #d4af77;
            border-radius: 3px;
            background-color: #fff;
            font-size: 14px;
            cursor: pointer;
            transition: background-color 0.3s ease, color 0.3s ease;
        }

        .product-card .hover-buttons .btn-buy {
            background-color: #d4af77;
            color: #fff;
        }

        .product-card .hover-buttons .btn-view {
            background-color: #fff;
            color: #d4af77;
        }

        .product-card .hover-buttons .btn-wishlist {
            color: #ebb7abec;
            border: none;
            font-size: 18px;
        }

        .product-card .hover-buttons button:hover {
            background-color: #d4af77;
            color: #fff;
        }

        .product-card .hover-buttons .btn-wishlist:hover {
            background-color: #fff;
            border: #f98d00;
            color: #d9534f;
        }

    .product-card:hover .hover-buttons {
        display: block; /* Hiện các nút khi hover */
        display: flex;
        text-align: center;
        justify-content: center;
        gap: 10px;
    }
